{% extends 'academics/base.html' %}

{% block content %}
    <h2>Change Your Password</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-style">Change Password</button>
    </form>

    {% if messages %}
        <ul class="messages" style="list-style-type: none; padding: 0; margin-top: 20px;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} 
                    style="padding: 10px; border-radius: 5px; 
                           background-color: {% if message.tags == 'success' %}#D4EDDA{% else %}#FFD2D2{% endif %};
                           color: {% if message.tags == 'success' %}#155724{% else %}#D8000C{% endif %};">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
